__pycache__/
*.pyc

*.onnx

settings.json
.vscode

archive/

workloads/archive/
workloads/*/model/*
workloads/*/data-extension/1G/*
workloads/*/data-extension/10G/*
*.csv
*.ipynb

build/
queries/Retree/workloads/*/output.csv
release-build.sh
run_retree.sh

run_python_udf.sh
